<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }}</title>
    <meta name="description" content="Famoso Nut Company is a locally-owned Almond huller, sheller, handler, and sales organization dedicated to the sale of quality Almond products.">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ site.domain }}/css/style.css">

    <script type="text/javascript" src="//use.typekit.net/yed7aoq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">
          You are using an <strong>outdated</strong> browser. Please
          <a href="http://browsehappy.com/">upgrade your browser</a> or
          <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
          to improve your experience.
        </p>
    <![endif]-->

    <div class="container header">
      <header class="wrapper clearfix">
      <h1 id="logo" class="hide-text">
        <a href="{{ site.domain }}">
          Famoso Nut
        </a>
      </h1>
      <nav>
        <ul>
          <li class="home"><a href="{{ site.domain }}">Home</a></li>
          <li class="about"><a href="{{ site.domain }}/about">About</a></li>
          <li class="services"><a href="{{ site.domain }}/services">Services</a></li>
          <li class="products"><a href="{{ site.domain }}/products">Products</a></li>
          <li class="contact"><a href="{{ site.domain }}/contact">Contact</a></li>
          <li class="grower-login"><a href="http://reports.famosonut.com" target="_blank">Grower Login</a></li>
        </ul>
      </nav>
      </header>
    </div>

    <div class="container top">
      <!-- #photo -->
    </div>

    {{ content }}

    <div class="container footer">

      <footer class="wrapper">
        <div class="pull-left">
          <ul>
            <li class="home"><a href="{{ site.domain }}">Home</a></li>
            <li class="about"><a href="{{ site.domain }}/about">About</a></li>
            <li class="services"><a href="{{ site.domain }}/services">Services</a></li>
            <li class="products"><a href="{{ site.domain }}/products">Products</a></li>
            <li class="contact"><a href="{{ site.domain }}/contact">Contact</a></li>
            <li class="grower-login"><a href="http://reports.famosonut.com" target="_blank">Grower Login</a></li>
          </ul>
          <p class="copyright">
            Copyright &copy; 2013 Famoso Nut Company, LLC. All rights reserved.
          </p>
        </div>
        <div class="pull-right">
          <div class="address">
            Famoso Nut Company, LLC<br />
            32331 Famoso Road, McFarland, CA 93250<br />
            (661) 399-9697
          </div>
        </div>
      </footer>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.domain }}/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="js/global.js"></script>

    {% if page.has_map %}
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          var famoso_lat_lang = new google.maps.LatLng(35.602393, -119.192054);
            var myOptions = {
              zoom: 12,
              center: famoso_lat_lang,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
          var marker = new google.maps.Marker({
                position: famoso_lat_lang,
                map: map,
                title:"Famoso Nut Company, LLC"
          });
          var contentString = '<div>'+
              '<h3 style="margin:0">Famoso Nut Company, LLC</h3>'+
              '<p>32331 Famoso Road<br/>McFarland, CA 93250<br/>(661) 399-9697</p>'+
              '</div>';
          var infowindow = new google.maps.InfoWindow({
              content: contentString
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
          });
        })
      </script>
    {% endif %}

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
